/* header */
#navbar{
    font-size:larger;
}
/*  */

/* index.html file */
#fondo-img-index{
    background-image: url(../img/fondo/fo1.jpg);
}

.fondo-movil{
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Asegura que la imagen esté detrás del contenido */
}

.presentacion{
    padding: 5% 0% 5% 5%; 
    font-size:large;
    color: #bca078;
    font-weight: bold;
    text-shadow: 2px 2px 4px #171006;
}
/*  */

/* productos.html file */
#fondo-img-productos{
    background-image: url(../img/fondo/fo2.jpg);
}

#content-fabricados{
    text-align: center;
}

.card-flex{
    margin: 1%;
    display: flex inline;
    width: 45%;
    background-color: rgba(255, 222, 145, 0.7);
}
.card-flex:hover{
    border-color: rgba(255, 222, 225, 0.9);
}
/*  */

/* presentacion.html file */
#fondo-img-presentacion{
    background-image: url(../img/fondo/fo6.jpg);
}
/*  */

/* contacto.html file */
#fondo-img-contacto{
    background-image: url(../img/fondo/fo4.jpg);
}

#container-contacto{
    text-align: center;
    color: #3e2603;
}

#container-contacto h3{
    padding: 1%;
}
.info-item{
    padding: 2%;
}
/*  */

/* consulta-producto.html file */
#fondo_formulario{
    background-image: url(../img/fondo/fo3.jpg);    
}

#div-consulta{
    padding-top: 10%;
    padding-bottom: 10%;
}
/*  */


/* footer */
#content-footer{
    background-color: #fff;
}

.redes-footer{
    margin: 5% 0.2% 5% 0.2%;
}
/*  */